<!-- example-form.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Aadhar Input</title>
</head>
<body>
  <h1>Enter the aadhar data</h1>
  <form action="/submit" method="POST">
    <label for="number">Aadhar Number:</label>
    <input type="number" id="aadhar" name="aadhar">
    
    <input type="submit" value="Submit">
  </form>
</body>
</html>
